*{
	list-style:none;
}

body{
	font-family:arial;
	padding:1% 10px;
}

#wrapping{
}

.mFields{
	background-color: rgb(0, 141, 207);
	margin-bottom:10px;
	width:93%;
	padding:1% 8px;
	font-weight:bold;
}

.sFields{
	margin-top:10px;
	margin-bottom:10px;
	background-color:rgb(143, 159, 175);
	padding:1% 8px;
	width:52%;
}

#scr{
	margin-bottom:10px;
	margin-left:3%;
}

.btnDiv{
	margin-top:7px;
}
