<!doctype html>
<html ng-app='fc'>
        <head>
		<!--<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>-->
		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script>
                <script src='js/builder.js'></script>
        </head>	
        <body>
		<div id='wrapping' ng-controller='genCTRL'>
			<div id='form'><input type='button' value='Start creating' ng-click='add()'>
				<form name='htmlGen'>
					<ul>
						<li ng-repeat='element in controls' class='{{element.delet}}'>
							<span>Nombre de campo</span>
							<input type='text' placeholder='Designe el nombre del campo' ng-model='element.text'>
							<span>Tipo de campo</span>
                                                        <select ng-model='element.typeC' ng-change='scheme(element)'>
                                                                <option value=""></option>
                                                                <option value="text">Text</option>
								<option value="select">List box</option>
                                                        </select>
							<ul>
								<li ng-repeat='selec in element.select' class='{{selec.delet}}'>
									<input type='button' value='add select' ng-click='addSel(element)'>
                                                        		<input type='button' value='delete select' ng-click='delSel(selec,element)'>
								</li>
							</ul>
                                                        <input type='button' value='add' ng-click='add()'>
							<input type='button' value='delete' ng-click='del(element)'> 
						</li>
					</ul>
				</form>
			</div>
			<div id='ht'>
				<tag ng-repeat='this in sch'>
					{{this.tag}}<br>
				</tag>
			</div>
		</div>
	</body>
</html>
